@font-face {
    font-family: Permanent Marker;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/landingV3Fonts/permanent-marker-latin-400-normal.woff2) format("woff2"),url(/landingV3Fonts/permanent-marker-all-400-normal.woff) format("woff");
    unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}

@font-face {
    font-family: Modak;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/landingV3Fonts/modak-devanagari-400-normal.woff2) format("woff2"),url(/landingV3Fonts/modak-all-400-normal.woff) format("woff");
    unicode-range: u+0900-097f,u+1cd0-1cf6,u+1cf8-1cf9,u+200c-200d,u+20a8,u+20b9,u+25cc,u+a830-a839,u+a8e0-a8fb
}

@font-face {
    font-family: Modak;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/landingV3Fonts/modak-latin-ext-400-normal.woff2) format("woff2"),url(/landingV3Fonts/modak-all-400-normal.woff) format("woff");
    unicode-range: u+0100-024f,u+0259,u+1e??,u+2020,u+20a0-20ab,u+20ad-20cf,u+2113,u+2c60-2c7f,u+a720-a7ff
}

@font-face {
    font-family: Modak;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/landingV3Fonts/modak-latin-400-normal.woff2) format("woff2"),url(/landingV3Fonts/modak-all-400-normal.woff) format("woff");
    unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}

@font-face {
    font-family: Monda;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/landingV3Fonts/monda-vietnamese-400-normal.woff2) format("woff2"),url(/landingV3Fonts/monda-all-400-normal.woff) format("woff");
    unicode-range: u+0102-0103,u+0110-0111,u+0128-0129,u+0168-0169,u+01a0-01a1,u+01af-01b0,u+1ea0-1ef9,u+20ab
}

@font-face {
    font-family: Monda;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/landingV3Fonts/monda-latin-ext-400-normal.woff2) format("woff2"),url(/landingV3Fonts/monda-all-400-normal.woff) format("woff");
    unicode-range: u+0100-024f,u+0259,u+1e??,u+2020,u+20a0-20ab,u+20ad-20cf,u+2113,u+2c60-2c7f,u+a720-a7ff
}

@font-face {
    font-family: Monda;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/landingV3Fonts/monda-latin-400-normal.woff2) format("woff2"),url(/landingV3Fonts/monda-all-400-normal.woff) format("woff");
    unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}



*,:before, :after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
    font-family: neue-haas-unica,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    /* line-height: 1.5; */
    color: #FFFFFF;
    background-color: #111927;
    overflow-x: hidden;

}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1.4rem;
    margin: -7px;
    font-weight: 500;
    font-size: 16px !important;
    width: 100% !important;
    position:fixed;
    top: 0;
    width: 100%;
    box-shadow:#131a24 ;
    background-color: #111927;

}

ul.navbar {
    margin-bottom: 15px;
}


.navbar {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link  {
    text-decoration: none;
    color: #a4b1cd;
    padding: 1.4rem 0;
}

a {
    cursor: pointer;
}


a:hover {
    color: #FFFFFF;
}

.start {
    background-color: #9FEF00;
    width: 124px;
    height: 45px;
    border-style: none;
    border-radius: 4px;
    font-weight: 600;
    padding: 0;
    font-size: 15px;
    justify-content: center;
}


.imag-logo {
    width: 155px;
}


.nav-item {
    padding-right: 15px;
    padding-bottom: 0;
    padding-top: 0;
}

.header-right span {
    padding-bottom: 22.400px;
    padding-top: 22.400px;
    margin-right: 8px;
    color: #a4b1cd;
}


.header-center {
    margin-left: 43px;
}



.show-message {
    cursor: pointer;
}


.fa-chevron-right {
    color: #a4b1cd;
}

.fa-chevron-right:hover {
    color: #9FEF00;
    cursor: pointer;
}


.show-message {
    color: #a4b1cd;
    display: inline-flex!important;
    border-radius: 16px;
    font-size: 13px;
    background: #1A2332;
    align-items: center;
    margin-left: 316px;
    margin-right: 200px;
    height: 36px;
    margin-bottom: 637px;
    margin-top: 147px;


}


.newpoint {
    border-radius: 16px;
    background: #141d2b;
    text-transform: uppercase;
    color: #9fef00;
    font-size: 10px;
    padding: 6px 9px;
    margin-left: 10px;
    margin-right: 2px;
}


.new {
    background-color: rgba(159,239,0,.1);;
}


span.newpoint {
    margin-right: 11px;
}


.fa-solid  {
    margin-right: 20px;
    margin-left: 8px;
}

.show-message:hover {
    color: #9fef00;
}

.text-main {
    margin: auto;
    padding-bottom: 1.5rem!important;
    padding-top: 1.5rem;
    max-width: 100%;
    color: #a4b1cd;
    display: flex;
    justify-content: center;
    align-items: center;

  
}


.container {
   margin-top: 0;
}

.col-12 {
    width: 100%;
    flex: 0 0 100%;
}
.col-6{
    width:50%;
    
}

.col-3{
    width: 24.999999999%;
}

.col-4{
    width:33.33333333%;
}
.col-2{
    width: 16.6666666666%;
}

.col1{
    width: 8.3333333%;
}

.col-5{
    width: 41.666666%;
}
.col-10{

    width: 83.33333%;
}

.col-8{
    width:66.666666666%;

}
.col-7{
    width:58.33333333333%;

}


.title-page {
    line-height: 1.15;
    font-size: 48px;
    margin: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;

}

.white-text {
    color: #fff;
    position: absolute;
    top: 158px;
    right: 13%;

}


.content-main {
    position: absolute;
    top: 274px;
    left: 324px;
    
}

.h2-title {
    color: #fff;
    font-size: 32px;
    /* line-height: 42px; */
    font-weight: 700px; 
    /* position: relative;
    top: 70px;
    left: 2px; */
    position: absolute;
    top: 200%;

}

.h2-title:hover {
        color: #9FEF00;
    }

.p-title {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 37%;
    right: 9px;
    color: #a4b1cd;
}




.img-box {
    position: absolute;
    top: 670px;
}

.box1 {
    width: 423px;
    background-color: #1a2332!important;
    border-radius: 2px;
    height: 419px;
    text-align: center;
    transition: top 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Business {
    margin-left: 120px;
    
}

.box2 {
    background-color: #1a2332!important;
    background-position: 0;
    margin-top: 20px;
    width: 878px;
    height: 178px;
   

}

.h2-box2:hover {
    color: #9FEF00;
}
.p-box2 {
    position: relative;
    bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #a4b1cd;

}

.col-md-12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box2 {
    position: relative;
    right: 83px;
    bottom: 14px;
}



.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-site {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 30%;
}

.demo-site:hover {
    color:#9FEF00;
}


.margin-box {
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
   


}
.margin1-box {
    margin-right: 120px;
}


.demo-box2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.demo-box2:hover {
    color:#9FEF00;
}




.img-company {
    max-width: 100%;

}

.company-logo {
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 16%;
}

.company1 {
    padding-right: 0 !important;
}
.company {
    padding-left: 0 !important;
}


.text-col {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #a4b1cd;

}

  
  .logo-container {
    position: fixed;
    padding-top: 2px;
    top: 20px;   
    left: 50%;
    transform: translateX(-50%);
    animation: logoAnimation 3s infinite;
  }
  
  .logo-container img {
    width: 30px;
    transition: all 0.3s ease-in-out;
  }
  
  
  @keyframes logoAnimation {
    0% {
      transform: translateX(-50%) scale(1) rotate(0deg);
    }
    50% {
      transform: translateX(-50%) scale(1.2) rotate(180deg);
    }
    100% {
      transform: translateX(-50%) scale(1) rotate(360deg);
    }
  }

  .information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin-left: 20%;
    flex-wrap: wrap;

  }
  .question-content {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    font-weight:600;
  }

  .question-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: inherit;
  }

  /* .question-company-box {
    background-color: #0B121F;

  } */


  .text-question {
    display: flex;
    justify-content: center;
    color: #a4b1cd;
  }
.container-company {
    align-items: center;
    
}



.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-right: 0; */
    /* padding-right: auto 0; */
    margin-top: 0px;
    margin-left: 29px;
  
 }
.nav-card p {
    text-align: center;
    line-height: 28px;
    /* letter-spacing: 2px; */
    color: #a4b1cd;
}

.nav-card h2 {
    font-weight: 600;
    text-align: center;
    font-size: 24px !important;
    color: #fff;
}

.image-card {
    padding-top: 1.5rem !important;
    width: 200px;
    height: auto;
    display: block;
    margin: auto;

}
.image-card img {
    width: 195px;
}

.nav-card {
    background-color: #1a2332!important;
    width: 300px;
    height: auto;
    padding-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #202837;
    margin-top: 1px;
    margin-right: 2px;
}

.nav12 {
    padding-right: 20px;
}

/* .main-box {
    background-image: url("https://www.hackthebox.com/images/landingv3/home/oulines-bg.svg");
    background-repeat: no-repeat;
    } */




    
.statistics-box {
    border: 1px solid #0B121F;
    padding: 2rem;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; */
    border-radius: 6px;
    /* position: relative; */
    margin-top: 29px;
    max-width: 1100px;
    min-width: 400px;
    /* background-position: 50%; */
}


.statistics {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-weight: 700;
    font-size: 48px;
}

.typewriter-number{
    color: #9FEF00;
    letter-spacing: 7px;

}
 .typewriter {
    color: #9FEF00;
    width: fit-content;
 }

 .Typewriter__cursor {
    color: #9FEF00 !important;
 }


 .statistics-box p {
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content:center ;
 }

 .color-text {
    color: #9FEF00;
    text-decoration: underline;

 }


 .container-chevron {
    background-color: #111927;
    margin-top: 55px;
    margin-left: 98px;


 }

 .h2-chevron {
    font-size: 42px;
    font-weight: 800;
    color: #ffffff;
    line-height: 54px;
    margin-top: 0;
    margin-bottom: 50px;
 }

 .chevron-button {
    border-radius: 6px;
    height: 48px;
    margin: 0 4px;
    border-style: none;
    width: 48px;  

 }
 .both-button {
    margin-top: 7px;
 }


 .cards-company {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: start;
    height: 100%;

 }


 .customer-opinion-amedisys {
        /* height: 100%; */
        border: 1px solid #202837;
        display: flex;
        flex-direction: column;
        padding: 26px 40px;
        min-height: 400px;
        border-radius: 8px;
        width: 420px;
        margin-right: 25px;
        background-color: #0B121F !important;
        
 }
 .card-company {
    color: #a4b1cd;
 }

 .img-cardcompany {
    max-height: 60px;
    width: 120px;
    margin-top: 120px;

}

.text-cardcompany {
    color: #fff;
    font-size: 16px;
    padding: 20px;

}


.short-text-cardcompany {
    color: #a4b1cd;
}


.customer-opinion-dassault {
    width: 400px;
    border: 1px solid #202837;
    display: flex;
    flex-direction: column;
    padding: 26px 40px;
    min-height: 400px;
    border-radius: 8px;
    width: 395px;    
    margin-right: 25px;
    background-color: #0B121F !important;
    margin-bottom: 35px;
}

.dassault-image {
    max-height: 60px;
    width: 120px;
    margin-bottom: 90px;

}

.blog-slide {
    color: #fff;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    line-height: 54px;
    display: flex;
    flex-direction: column;

}


.h3-blog {
    font-size: 42px;
    font-weight: 800;
    line-height: 54px;
    color: #fff;
    margin-top: 30px;
    text-align: center;
}


.link-blog {
    display: flex;
    color: #9FEF00;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.right-blog {
    justify-content: center;
    margin-top: 18px;
    font-size: 12px;
    position: relative;
    top: 5px;
    right: 5px;
}


.text-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.article-box {
    padding-left:20px;
}


.img-article {
    background-position: 50%;
    background-repeat: no-repeat;

}

.img-first-article {
    width: 341px;
    height: 197px;
    border-radius: 6px;
}

.img-second-article {
    width: 341px;
    height: 197px;
    border-radius: 6px;
}

.img-last-article {
    width: 341px;
    height: 197px;
    border-radius: 6px;
}


.first-blog , .second-blog , .last-blog {
    color: #a4b1cd;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 20px;
}

.text-first-blog , .text-second-blog , .text-last-blog {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    line-height: 28px;
    flex-grow: 1px;

}

@media (min-width: 992px) {
  .col-lg-4 {
    width:33.33333333%;
    flex:0 0 33.33333%;
  }
}


@media (min-width: 768px) {
    .font-size36-md {
        font-size:36px;
    }
    .font-size18-md {
        font-size:18px;
    }

   
}

@media (min-width: 768px) {
    .logo-container img {
      width: 200px; 
    }
  }
